header {
    height: 5rem;
    background-color: #4B138B;
    color: #F9B013;
    font-size: 25px;
}
header, nav, ul, li, a {
    color: #F9B013;
    padding: 0px 10px 30px 0px;
}  
body, main{
    background-image: ("/images/Menu-1.png");
    background-size: 1200px;
    background-color: #F9B013;
}
#logo {
    padding: 0px 5px 40px 5px;
}
.card {
    border-color: #1D1C1C;
    border-radius: 0.5rem;
    border-width: 0px;
}
#container {
    padding-top: 5rem;
}
.btn {
    text-decoration: none;
    background-color: #F9B013;
}